<a href="https://colab.research.google.com/github/DarshK01/ai/blob/main/25_Nov.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Prolog using clauses.

In [ ]:
1 likes(ram, mango).
2 girl(seema).
3 red(rose).
4 pink(candy).
5 owns(john, gold).

temperature conversion using Prolog

In [ ]:
1 c_to_f(C,F) :-
2   F is C * 9 / 5 + 32.
3 freezing(F) :-
4   F =< 32.

factorial of a given number.

In [ ]:
1 factorial(0,1).
2 factorial(N,F) :-
3 N>0,
4 N1 is N-1,
5 factorial(N1,F1),
6 F is N * F1.

fibonacci of a given number

In [ ]:
1 fib(0, 0).
2 fib(X, Y) :- X > 0, fib(X, Y, _).
3 fib(1, 1, 0).
4 fib(X, Y1, Y2) :-
5 X > 1,
6 X1 is X - 1,
7 fib(X1, Y2, Y3),
8 Y1 is Y2 + Y3.

Monkey banana problem

In [ ]:
1 in_room(bananas).
2 in_room(chair).
3 in_room(monkey).
4 clever(monkey).
5 can_climb(monkey, chair).
6 tall(chair).
7 can_move(monkey, chair, bananas).
8 can_reach(monkey, banana).

Water Jug Problem in Python.

In [ ]:
a=int(input("Enter Jug A Capacity: "))
b=int(input("Enter Jug B Capacity: "))
ai=int(input("Initially Water in Jug A: "))
bi=int(input("Initially Water in Jug B: "))
af=int(input("Final State of Jug A: "))
bf=int(input("Final State of Jug B: "))

print("List Of Operations You can Do: \n")
print("1.Fill Jug A Completely\n")
print("2.Fill Jug B Completely\n")
print("3.Empty Jug A Completely\n")
print("4.Empty Jug B Completely\n")
print("5.Pour From Jug A till Jug B filled Completely or A becomes empty\n")
print("6.Pour From Jug B till Jug A filled Completely or B becomes empty\n")
print("7.Pour all From Jug B to Jug A\n")
print("8.Pour all From Jug A to Jug B\n")

while ((ai!=af or bi!=bf)):
    op=int(input("Enter the Operation: "))
    if (op==1):
        ai=a
    elif(op==2):
        bi=b
    elif(op==3):
        ai=0
    elif(op==4):
        bi=0
    elif(op==5):
        if(b-bi>ai):
            bi=ai+bi
            ai=0
        else:
            ai=ai-(b-bi)
            bi=b
    elif(op==6):
        if(a-ai>bi):
            ai=ai+bi
            bi=0
        else:
            ai=a
            bi=bi-(a-ai)
    elif(op==7):
        ai=ai+bi
        bi=0
    elif(op==8):
        bi=bi+ai
        ai=0
    print(ai,bi)

Enter Jug A Capacity: 2
Enter Jug B Capacity: 3
Initially Water in Jug A: 1
Initially Water in Jug B: 2
Final State of Jug A: 2
Final State of Jug B: 1
List Of Operations You can Do:

1.Fill Jug A Completely

2.Fill Jug B Completely

3.Empty Jug A Completely

4.Empty Jug B Completely

5.Pour From Jug A till Jug B filled Completely or A becomes empty

6.Pour From Jug B till Jug A filled Completely or B becomes empty

7.Pour all From Jug B to Jug A

8.Pour all From Jug A to Jug B

Enter the Operation: 1
2 2
Enter the Operation: 2
2 3
Enter the Operation: 3
0 3
Enter the Operation: 4
0 0